version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: ess_postgres_db
    restart: always
    environment:
      POSTGRES_DB: ess_dashboard
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: